/* ==== General ==== */
body {
  background-color: #415DE5;
  margin: 0;
}

/*======= Header =====*/
#header{
  text-align: center;
}

/*===== Top Menu =====*/
.topnav {
  overflow: hidden;
  background-color: #ACACAC;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  color: #FEFEFE;
  /*text-shadow: -1px 0 #00FFFF, 0 1px #00FFFF, 1px 0 #00FFFF, 0 -1px #00FFFF;*/
}

.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

/*======= Contents ======= */
#logo {
  /*height: 500px;
  width: 500px;*/
}

/*===== Modal ========*/
#primeModal {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  /*overflow: auto;*/
  background-color: red;
  /*z-index: 5;*/
}
#modalTxt {
    background-color: green;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*========= Footer =========*/
#footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}
